Hi {{ name }},

We have detected a new sign in to your NucleusID account.

Time: {{ time }}
Device: {{ device }}
Location: {{ location }}
IP: {{ ip_address }}

If you don't recognize this sign in, please change your password immediately in settings.

If this was you, you can safely ignore this email.

Sincerely,
NucleusID Support
