Hi {{ name }},

{{ inviter }} has invited you to a folder on NucleusID. Click the link below to accept or decline the invitation.

{{ link }}

This invitation will expire in 7 days.

If you were not expecting this invitation, you can ignore this email.

Sincerely,
NucleusID Support
