Hi {{ name }},

Please secure your account and enable all features by verifying your email address. Click the link below to verify.

{{ link }}

This link will expire in 24 hours.

If this wasn't you, please ignore this email.

Sincerely,
NucleusID Support
